.page__breadcrumbs {
  @include breakpoint($breakpoint-big-tablet) {
    padding-top: 190px;
  }

  padding-top: 120px;
  // padding-left: 20px;
}

.page-second {
  .page__breadcrumbs {
    padding-top: 12px;

    .nav--breadcrumb .nav__item {
      color: #828282;
    }
  }
}
