// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  height: 84px;
  // background-image: url("../assets/images/pages/home/bg.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;

  .container {
    @include breakpoint($breakpoint-mobile) {
      position: relative;
      background: $palette-white;
    }

    max-width: 1459px;
  }
}

.header {
  &__wrapper {
    @include breakpoint($breakpoint-notebook) {
      padding: 12px 10px 10px;
    }
    @include breakpoint($breakpoint-big-tablet) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 10px;
    }
    @include breakpoint($breakpoint-mobile) {
      grid-template-columns: 1fr 0.5fr 1fr 1fr;
      margin-top: 0;
      padding: 10px 0;
      background: transparent;
    }

    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    gap: 18px;
    align-items: center;
    margin-top: 10px;
    padding: 12px 70px 10px;
    border-radius: 25px;
    background: #04171e2b;

    &--fixed {
      @include breakpoint($breakpoint-notebook) {
        width: calc(100% - 32px)
      }
      @include breakpoint($breakpoint-mobile) {
        width: 100%;
        margin: 0 -16px;
        padding: 0 16px 10px;
        border-radius: 0;
        background-color: $palette-white;
      }

      position: fixed;
      z-index: 15;
      background: #04171eaa;
    }
  }

  &__logo {
    @include breakpoint($breakpoint-big-tablet) {
      grid-column: 1/4;
    }
    @include breakpoint($breakpoint-mobile) {
      gap: 9px;
    }

    display: flex;
    gap: 16px;

    svg {
      @include breakpoint($breakpoint-mobile) {
        max-width: 46px;
      }
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--title {
      @include breakpoint($breakpoint-mobile) {
        font-size: 17px;
        letter-spacing: -1.5px;
      }

      color: $color-text__green;
      font-weight: 700;
      font-size: 22px;
      font-family: $font-second;
      letter-spacing: 0.48px;
      text-transform: uppercase;
      white-space: nowrap;
    }

    &--description {
      @include breakpoint($breakpoint-mobile) {
        color: $color-text__black;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: -0.6px;
      }

      color: $color-text__white;
      letter-spacing: 0.48px;
      white-space: nowrap;
    }
  }

  &__menu {
    @include breakpoint($breakpoint-laptop) {
      display: none;
    }

    &-mobile {
      position: absolute;
      top: 0;
      right: -400px;
      min-width: 300px;
      height: calc(100vh + 10px);
      margin-top: -10px;
      margin-right: -16px;
      padding: 52px 40px;
      background: linear-gradient(89deg, #17a5d3 5.9%, #008ebc 91.16%);
      opacity: 0;
      visibility: hidden;
      transition: $transition-time ease;

      &.is-active {
        right: 0;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__contacts {
    @include breakpoint($breakpoint-big-tablet) {
      grid-row: 3/4;
      grid-column: 1/3;
    }
    @include breakpoint($breakpoint-mobile) {
      align-items: flex-start;
    }

    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
  }

  &__socials {
    display: flex;
    gap: 11px;
  }

  &__phone {
    @include breakpoint($breakpoint-mobile) {
      color: $color-text__black;
      font-size: 14px;
    }

    color: $color-text__white;
    font-weight: 600;
    font-size: $font__text--big;
    letter-spacing: 0.54px;
    white-space: nowrap;
  }

  &__button {
    @include breakpoint($breakpoint-big-tablet) {
      grid-row: 3/4;
      grid-column: 3/5;
    }

    display: flex;
    justify-content: center;

    .button {
      @include breakpoint($breakpoint-mobile) {
        padding: 13px 18px;
        letter-spacing: 0;
      }
    }
  }

  &__burger {
    @include breakpoint($breakpoint-laptop) {
      z-index: 10;
      display: block;
      grid-row: 1/2;
      grid-column: 4/5;
    }

    display: none;
    justify-self: end;

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      @include breakpoint($breakpoint-mobile) {
        background-color: $color-text__black;
      }

      background-color: $palette-white;
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: $color-text__blue;
    }
  }

  &__line {
    @include breakpoint($breakpoint-mobile) {
      display: block;
      grid-column: 1/5;
    }

    display: none;
    width: 100%;
    height: 1px;
    background: #dcdcdc;
  }

  .mobile-catalog__hidden-menu {
    position: relative;
    height: 0;
    padding: 0 0 0 20px;
    background: transparent;
    color: $color-text__white;
    box-shadow: none;
    opacity: 0;
    visibility: hidden;
    transition: $transition-time ease;

    &.is-active {
      height: auto;
      padding-top: 10px;
      opacity: 1;
      visibility: visible;
    }

    .nav__item {
      padding: 7px 0;
    }
  }
}
