// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
    display: flex;
    gap: 29px;
  }

  &__item {
    color: $color-text__white;
    letter-spacing: 0.48px;
    white-space: nowrap;
  }

  &__link {
  }



  &--header {
    .nav__item {

    }

    .nav__link {

    }
  }
}
