<div class="page__breadcrumbs">
  <nav class="nav nav--breadcrumb">
    <ol class="nav__list">
      <li class="nav__item">
        <a href="/" class="nav__link link" title="Главная">
          <span>Главная</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link link" title="Услуги">
          <span>Услуги</span>
        </a>
      </li>
      <li class="nav__item">
        <span class="nav__link">Химчистка дивана</span>
      </li>
    </ol>
  </nav>
</div>
<!-- /.page__breadcrumbs -->