// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-black: #000000;
$palette-green: #77C01C;
$palette-blue: #2aabee;

// Цветовая палитра текста
$color-text__primary: #000000;
$color-text__black: #4a3f3f;
$color-text__white: #ffffff;
$color-text__green: #76D104;
$color-text__grey: #dBdBdB;
$color-text__blue: #22b2e1;

$link-hover-color: #76D104 !default;

body {
  color: $color-text__primary;
}
