.feedback {
  @include breakpoint($breakpoint-notebook) {
    background: url("../assets/images/pages/home/bg-group-form.svg"),
    linear-gradient(89deg, #17a5d3 5.9%, #008ebc 91.16%);
    background-position: top 10px left 20px, top left;
    background-repeat: no-repeat, no-repeat;
  }
  @include breakpoint($breakpoint-tablet) {
    height: auto;
    background: linear-gradient(89deg, #17a5d3 5.9%, #008ebc 91.16%);

  }

  height: 488px;
  background: url("../assets/images/pages/home/bg-group-form.svg"), url("../assets/images/pages/home/bg-mail-form.png"),
    linear-gradient(89deg, #17a5d3 5.9%, #008ebc 91.16%);
  background-position: top 10px left 20px, bottom right 130px, top left;
  background-repeat: no-repeat, no-repeat;

  &__title {
    @include breakpoint($breakpoint-tablet) {
      line-height: 110%;
    }
    @include breakpoint($breakpoint-mobile) {
      padding-top: 47px;
      font-size: 40px;
      text-align: center;
    }

    padding-top: 62px;
    color: $color-text__white;
    font-weight: 500;
    font-size: 54px;
    line-height: 190%; /* 102.6px */
    letter-spacing: 1.08px;
    text-transform: uppercase;

    span {
      @include breakpoint($breakpoint-tablet) {
        padding-top: 20px;
      }

      display: block;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0.48px;
    }
  }

  &__socials {
    @include breakpoint($breakpoint-mobile) {
      justify-content: center;
      font-size: 20px;
    }

    display: flex;
    gap: 19px;
    align-items: center;
    padding-top: 37px;
    color: $color-text__white;
    font-size: 26px;
    line-height: 114%; /* 29.64px */
  }

  .socials__items {
    display: flex;
    gap: 16px;
  }

  &__text {
    @include breakpoint($breakpoint-mobile) {
      font-size: 20px;
      text-align: center;
    }

    padding-top: 31px;
    color: $color-text__white;
    font-size: 26px;
    line-height: 114%; /* 29.64px */
  }

  &__form {
    @include breakpoint($breakpoint-tablet) {
      flex-direction: column;
    }
    @include breakpoint($breakpoint-mobile) {
      align-items: center;
    }

    display: flex;
    gap: 10px;
    padding-top: 15px;
  }

  &__input {
    @include breakpoint($breakpoint-mobile) {
      width: 90%;
    }

    input {
      width: 100%;
      padding: 18px 20px;
      border: none;
      border-radius: 7px;
      outline: none;
      background: rgba(255, 255, 255, 0.25);
      color: $color-text__white;
      font-size: 18px;
      line-height: 114%; /* 20.52px */
    }
  }

  .button {
    @include breakpoint($breakpoint-tablet) {
      max-width: fit-content;
      margin-bottom: 47px;
    }

    padding: 17px 23px 17px 32px;
    transition: $transition-time ease;

    svg {
      transition: $transition-time ease;
    }

    &:hover {
      svg {
        transform: translateX(8px);
      }
    }
  }
}
