.our-works {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 63px;
    margin-bottom: 49px;
  }

  &__title {
    color: $color-text__grey;
    font-weight: 600;
    font-size: 60px;
    line-height: 114%; /* 68.4px */
    text-transform: uppercase;
  }

  &__all {
    display: flex;
    gap: 10px;
    color: #6cab1e;
    font-size: 22px;
    line-height: 114%; /* 25.08px */

    svg {
      transition: $transition-time ease;
    }

    &:hover {
      svg {
        transform: translateX(8px);
      }
    }
  }

  &__slider {
    position: relative;
    margin-bottom: 61px;
  }
}
