.price-order {
  &__wrapper {
    @include breakpoint($breakpoint-mobile) {
      margin-top: 15px;
      padding: 25px;
    }

    position: relative;
    margin-top: 46px;
    padding: 25px 66px;
    border-radius: 25px;
    background: linear-gradient(89deg, #17a5d3 5.9%, #008ebc 91.16%);

    .wpcf7-response-output {
      position: relative;
      z-index: 2;
      margin: 10px 0 -10px !important;
      border: none !important;
      color: $color-text__white;
    }
  }

  &__title {
    @include breakpoint($breakpoint-tablet) {
      font-size: 28px;
    }

    position: relative;
    z-index: 1;
    color: $color-text__white;
    font-weight: 500;
    font-size: 36px;
    line-height: 105%; /* 37.8px */

    span {
      display: block;
      font-size: 18px;
      line-height: 124%; /* 22.32px */
      letter-spacing: 0.54px;
    }
  }

  &__form {
    position: relative;
    z-index: 10;

    .wpcf7-response-output {
      grid-column: 1/3;
      border: none;
      color: $color-text__white;
    }
  }

  &__form-first {
    @include breakpoint($breakpoint-tablet) {
      grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 620px;
    padding-top: 11px;

    input {
      @include breakpoint($breakpoint-tablet) {
        width: 100%;
        max-width: 100%;
      }

      max-width: 200px;
    }
  }

  &__input {
    position: relative;
    display: flex;

    p, span {
      width: 100%;
    }

    input,
    textarea {
      width: 100%;
      max-height: 60px;
      padding: 14px 20px;
      border: none;
      border-radius: 7px;
      outline: none;
      color: #828282;
      font-size: 18px;
      line-height: 114%; /* 20.52px */
    }

    input[type="file"] {
      position: absolute;
      z-index: -10;
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
    }

    .button {
      margin-left: 48px;
      color: $color-text__white;
    }
  }

  &__form-second {
    @include breakpoint($breakpoint-notebook) {
      grid-template-columns: 410px 150px;
    }
    @include breakpoint($breakpoint-tablet) {
      grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-columns: 410px 150px 200px;
    gap: 10px;
    align-items: center;
    margin-top: 10px;

    input {
      width: 100%;
    }

    textarea {
      width: 100%;
      max-height: 50px;
    }
  }

  &__file {
    display: flex;
    gap: 3px;
    align-items: center;
    color: #F4F4F4;
    font-size: 18px;
    line-height: 114%; /* 20.52px */
    white-space: nowrap;
    cursor: pointer;
    text-decoration-line: underline;


    &:hover {
      text-decoration-line: none;
    }
  }

  &__bg-image {
    @include breakpoint($breakpoint-notebook) {
      display: none;
    }

    position: absolute;
    right: 0;
    bottom: 0;

    picture {
      max-height: 273px;
    }
  }

  .button {
    @include breakpoint($breakpoint-mobile) {
      justify-content: center;
      width: 100%;
    }
  }
}
