.professional {
  @include breakpoint($breakpoint-tablet) {
    padding-bottom: 30px;
  }

  background: #eeeeee;

  &__title {
    @include breakpoint($breakpoint-tablet) {
      font-size: 50px;
    }
    @include breakpoint($breakpoint-mobile) {
      padding-top: 42px;
      font-size: 40px;
      text-align: center;
    }

    padding-top: 72px;
    color: $color-text__white;
    font-weight: 600;
    font-size: 60px;
    line-height: 114%; /* 68.4px */
    text-transform: uppercase;
    text-shadow: 0 0 25px #a1a1a140;
  }

  &__brands {
    @include breakpoint($breakpoint-tablet) {
      flex-direction: column;
      gap: 25px;
      align-items: center;
      margin-top: 32px;
    }

    display: flex;
    gap: 63px;
    justify-content: center;
    margin-top: 50px;
  }

  &__wrapper {
    @include breakpoint($breakpoint-tablet) {
      grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 50px;
    margin-top: 90px;
  }

  &__image {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    picture {
      margin-right: -300px;
    }
  }

  .advantages__title {
    @include breakpoint($breakpoint-tablet) {
      font-size: 50px;
    }
    @include breakpoint($breakpoint-mobile) {
      font-size: 40px;
      text-align: center;
    }

    padding-top: 14px;
    color: $color-text__white;
    font-weight: 600;
    font-size: 60px;
    line-height: 114%; /* 68.4px */
    text-transform: uppercase;
    text-shadow: 0 0 25px #a1a1a140;
  }

  .advantages__items {
    @include breakpoint($breakpoint-mobile) {
      margin-top: 20px;
    }
    // display: flex;
    // flex-direction: column;

    margin-top: 50px;
    counter-reset: num;

    li {
      position: relative;
      display: flex;
      margin: 0;
      padding: 30px 0 30px 76px;
      border-bottom: 1px solid #b09696;;
      color: #434C52;
      font-weight: 500;
      font-size: 20px;
      line-height: 114%; /* 22.8px */

      &::before {
        content: counter(num);
        position: absolute;
        top: calc(50% - 26px);

        left: 0;
        display: inline-block;
        width: 58px;
        height: 58px;
        padding: 18px;
        border: 2px solid #17a5d3;
        border-radius: 50%;
        color: #17a5d3;
        font-weight: 700;
        font-size: 20px;
        line-height: 114%;
        counter-increment: num;
        text-align: center;
      }
    }

  }



}