.reviews {
  @include breakpoint($breakpoint-mobile) {
    margin-top: 31px;
    margin-bottom: 31px;
  }

  margin-top: 60px;
  margin-bottom: 69px;

  &__title {
    @include breakpoint($breakpoint-tablet) {
      font-size: 50px;
    }
    @include breakpoint($breakpoint-mobile) {
      font-size: 40px;
      text-align: center;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-text__grey;
    font-weight: 600;
    font-size: 60px;
    line-height: 114%; /* 68.4px */
    text-transform: uppercase;
  }

  &__send {
    display: flex;
    gap: 9px;
    color: #6cab1e;
    font-weight: 400;
    font-size: 22px;
    line-height: 114%; /* 25.08px */
    text-align: right;
    text-transform: none;

    svg {
      transition: $transition-time ease;
    }

    &:hover {
      svg {
        transform: translateX(8px);
      }
    }
  }

  &__wrapper {
    @include breakpoint($breakpoint-mobile) {
      margin-top: 20px;
    }

    position: relative;
    margin-top: 50px;
  }

  .swiper-slide__wrapper {
    overflow: hidden;
    min-height: 220px;
    max-height: 220px;
    padding: 30px 40px;
    border: 1px solid #e2e2e2;
  }

  &-slide__header {
    display: flex;
    gap: 20px;
    align-items: center;

    picture {
      overflow: hidden;
      width: 45px;
      height: 45px;
      border-radius: 60px;
    }
  }

  &__name {
    color: #22272b;
    font-weight: 500;
    font-size: 22px;
    line-height: 114%; /* 25.08px */
  }

  &__text {
    padding-top: 11px;
  }
}
