.send-us {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 39px;
    padding: 40px 60px;
    border-radius: 25px;
    background: url("../assets/images/sections/send-us/icon-bg.svg"),
      url("../assets/images/sections/send-us/ellips-bg.svg"), linear-gradient(89deg, #17a5d3 5.9%, #008ebc 91.16%);
    background-position: center right 175px, bottom right, top left;
    background-repeat: no-repeat, no-repeat;
  }

  &__title {
    padding-bottom: 17px;
    color: $color-text__white;
    font-weight: 500;
    font-size: 38px;
    line-height: 105%; /* 39.9px */
  }

  &__text {
    color: $color-text__white;
    font-weight: 500;
    font-size: 18px;
    line-height: 124%; /* 22.32px */
    letter-spacing: 0.54px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
}
