.slide {
  height: 768px;
  margin-top: -94px;
  background-image: url("../assets/images/pages/home/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__wrapper {
    @include breakpoint($breakpoint-notebook) {
      width: unset;
    }

    width: 954px;
    padding-top: 196px;
  }

  &__title {
    @include breakpoint($breakpoint-tablet) {
      padding-top: 50px;
      font-size: 42px;
    }
    @include breakpoint($breakpoint-mobile) {
      font-size: 32px;
    }

    color: $color-text__white;
    font-weight: 900;
    font-size: 56px;
    // font-family: $font-title;

    line-height: 120%; /* 62.4px */
    text-transform: uppercase;
  }

  &__description {
    padding-top: 16px;
    color: $color-text__white;
    font-size: 20px;
    line-height: 120%; /* 24px */
  }

  .button {
    @include breakpoint($breakpoint-mobile) {
      white-space: wrap;
    }

    margin-top: 53px;
    padding: 17px 23px 17px 32px;
    transition: $transition-time ease;

    svg {
      transition: $transition-time ease;
    }

    &:hover {
      svg {
        transform: translateX(8px);
      }
    }
  }
}
