<header id="header" class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <a href="/" class="logo">
          <svg xmlns="http://www.w3.org/2000/svg" width="72" height="63" viewBox="0 0 72 63" fill="none">
            <path
              d="M31.9956 23.9967L5.11041 49.882H0L8.11 42.0255C7.25826 40.3116 6.3178 36.1062 5.99918 30.4403C5.99918 23.3301 11.4429 0.111096 38.1059 0C10.6652 3.77726 8.55438 28.7738 12.3316 37.9358L31.9956 18.8863L60.4362 46.2159L57.7699 49.1044L31.9956 23.9967Z"
              fill="#80B73C" />
            <path
              d="M60.7694 37.5504C59.8807 39.9501 61.5101 43.0682 62.4359 44.3272C65.1022 41.6609 66.2131 36.9949 67.5463 34.2175C66.7686 48.7711 51.4683 58.3253 39.9945 58.3253C30.8155 58.3253 24.69 54.474 22.7747 52.5483H14.6647C18.2197 56.4367 27.6629 62.547 38.1059 61.9915C53.7482 61.2805 62.3988 49.9191 64.7689 44.3272C68.2129 44.3272 71.2569 40.6493 71.879 37.9358C72.6567 34.5439 69.4349 25.6631 69.3238 27.3296C69.2127 28.996 61.8804 34.5508 60.7694 37.5504Z"
              fill="#80B73C" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M40.2168 20.3306C30.4404 19.553 33.44 7.7768 40.2168 1.44434C42.6277 3.79004 44.3698 6.38415 45.4095 8.87924L43.5498 8.33227L42.8657 5.55292L42.4388 8.22118L39.3281 8.88775L42.4388 9.55433L42.8832 12.4428L43.6609 9.55433L45.4384 9.22104V8.94907C46.0298 10.3853 46.388 11.7876 46.5065 13.0896L45.1051 12.4428L44.7718 10.7764L44.4385 12.4428C43.6979 12.665 42.2611 13.1094 42.4388 13.1094C42.6166 13.1094 43.846 13.3316 44.4385 13.4427L44.7718 15.5535L45.3273 13.5538L46.5261 13.3358C46.7998 17.3369 44.7608 20.3306 40.2168 20.3306ZM53.3262 49.771H10.1099L31.7736 28.885L53.3262 49.771ZM44.1052 5.77707L45.7716 5.44379L46.1049 3.66625L46.5493 5.44379L48.4379 5.77707L46.5493 6.44365L46.1049 8.22118L45.7716 6.44365L44.1052 5.77707ZM28.2185 39.2169V42.3276H31.3292V39.2169H28.2185ZM32.4402 39.2169V42.3276H35.5509V39.2169H32.4402ZM35.5509 43.5497H32.4402V46.5492H35.5509V43.5497ZM31.3292 43.5497H28.2185V46.5492H31.3292V43.5497Z"
              fill="#22BBED" />
          </svg>
          <div class="header__logo--text">
            <div class="header__logo--title">
              Мастерство чистоты
            </div>
            <!-- /.header__logo--title -->
            <div class="header__logo--description">
              Химчистка мягкой мебели в Санкт-Петербурге
            </div>
            <!-- /.header__logo--description -->
          </div>
          <!-- /.header__logo--text -->
        </a>
      </div>
      <!-- /.header__logo -->
      <div class="header__menu">
        <nav class="nav nav--header">
          <ul class="nav__list">
            <li class="menu-item nav__item current-menu-item"><a href="#about" class="nav__link link">О нас</a></li>
            <li class="menu-item nav__item dropdown-nav"><a href="#services" class="nav__link link">Услуги</a>
              <ul>
                <li class="menu-item nav__item"><a href="#" class="nav__link link">Химчистка дивана</a></li>
                <li class="menu-item nav__item"><a href="#" class="nav__link link">Химчистка матраса</a></li>
                <li class="menu-item nav__item"><a href="#" class="nav__link link">Химчистка ковра</a></li>
                <li class="menu-item nav__item"><a href="#" class="nav__link link">Химчистка мягкой мебели</a></li>
              </ul>
            </li>
            <li class="menu-item nav__item"><a href="#services" class="nav__link link">Цены</a></li>
            <li class="menu-item nav__item"><a href="#works" class="nav__link link">Наши работы</a></li>
            <li class="menu-item nav__item"><a href="#address" class="nav__link link">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.header__menu -->
      <div class="header__line">
      </div>
      <!-- /.header__line -->

      <div class="header__contacts">
        <div class="header__socials">
          <a href="#" class="logo">
            <img alt="" class="image image--cover" src="assets/images/global/wa.png">
          </a>
          <a href="#" class="logo">
            <img alt="" class="image image--cover" src="assets/images/global/tg.png">
          </a>
          <a href="#" class="logo">
            <img alt="" class="image image--cover" src="assets/images/global/vb.png">
          </a>
        </div>
        <!-- /.header__socials -->
        <div class="header__phone">
          <a href="tel:+79315142044" class="link">+7 (931) 514-20-44</a>
        </div>
        <!-- /.header__phone -->
      </div>
      <!-- /.header__contacts -->
      <div class="header__button">
        <a href="#" class="button button-primary logo" data-micromodal-trigger="modal-1">Узнать цену по фото</a>
      </div>
      <!-- /.header__button -->
      <div class="header__burger">
        <button class="hamburger hamburger--spin" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
      <!-- /.header__burger -->
      <!-- <div class="header__line">
      </div> -->
      <!-- /.header__line -->

      <div class="header__menu-mobile">
        <nav class="nav nav--header nav--mobile">
          <ul class="nav__list">
            <li class="menu-item nav__item current-menu-item"><a href="#" class="nav__link link">О нас</a></li>
            <li class="menu-item nav__item mobile-catalog"><a href="#" class="nav__link link">Услуги</a>
              <ul class="mobile-catalog__hidden-menu">
                <li class="menu-item nav__item"><a href="#" class="nav__link link">Химчистка дивана</a></li>
                <li class="menu-item nav__item"><a href="#" class="nav__link link">Химчистка матраса</a></li>
                <li class="menu-item nav__item"><a href="#" class="nav__link link">Химчистка ковра</a></li>
                <li class="menu-item nav__item"><a href="#" class="nav__link link">Химчистка мягкой мебели</a></li>
              </ul>
            </li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Цены</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Наши работы</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.header__menu-mobile -->
    </div>
    <!-- /.header__wrapper -->
  </div>
  <!-- /.container -->
</header>