.button-secondary {
  @include breakpoint($breakpoint-tablet) {
    padding: 13px 25px;
  }
  @include breakpoint($breakpoint-mobile) {
    padding: 13px 5px;
  }

  padding: 13px 95px;
  border: 1px solid #77c01c;
  border-radius: 15px;
  color: #77c01c;
  font-weight: 600;
  text-align: center;
  transition: $transition-time ease;

  &:hover {
    background: $palette-green;
    color: $color-text__white;
  }
}
