.button-secondary {
  padding: 13px 95px;
  border: 1px solid #77C01C;
  border-radius: 15px;
  color: #77C01C;
  font-weight: 600;
  text-align: center;
  transition: $transition-time ease;

  &:hover {
    background: $palette-green;
    color: $color-text__white;
  }
}